.arc,  .roulette_sector_text{
    -fx-font-family: Helvetica;
    -fx-font-weight: bold;
}
.main_btns_pane {
    -fx-padding: 0 20 0 20;
}

.username {
    -fx-font-weight: 800px;
    -fx-font-size: 24;
}

.centered {
    -fx-padding: 20 20 20 20;
}

.beautfull {
    -fx-background-color: rgba(128, 128, 128, 0.6);
}

.beautfull_light {
    -fx-background-color: rgba(192, 192, 192, 0.6);
}

.score{
    -fx-font: 100px Tahoma;
    -fx-stroke-width: 1;
}

.main_background {
    -fx-background-color: rgba(128, 128, 192, 0.6);
}

.words {
    -fx-max-height: 0px;
    -fx-font: 20px Tahoma;
    -fx-stroke-width: 1;
}
.words button {
    -fx-background-color: red;
}

.securedWord{
    -fx-font: 10px Tahoma;;
    -fx-background-color: rgba(128, 128, 192, 0.9);
}